@model Magazzino;

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4 my-3">Gioielli</h1>
	<h4 class="mt-2">ANELLI, COLLANE E BRACCIALI</h4>
	<div class="my-3 p-1">
		<button class="btn border-1 border-dark rounded-0 p-1 px-2 m-2 product-btn">GIOIELLI DA UOMO</button>
		<button class="btn border-1 border-dark rounded-0 p-1 px-2 m-2 product-btn">COLLANE</button>
		<button class="btn border-1 border-dark rounded-0 p-1 px-2 m-2 product-btn">ANELLI PERSONALIZZATI</button>
		<button class="btn border-1 border-dark rounded-0 p-1 px-2 m-2 product-btn">FEDI</button>
		<button class="btn border-1 border-dark rounded-0 p-1 px-2 m-2 product-btn">CHEVALIER</button>
		<button class="btn border-1 border-dark rounded-0 p-1 px-2 m-2 product-btn">CHARM</button>
		<button class="btn border-1 border-dark rounded-0 p-1 px-2 m-2 product-btn">BRACCIALI</button>
		<button class="btn border-1 border-dark rounded-0 p-1 px-2 m-2 product-btn">ANELLI DA MIGNOLO</button>
	</div>

	<h2 class="m-3 py-2">Best Seller</h2>

	<div id="productCarousel" class="carousel slide carousel-fade mb-5" data-bs-ride="carousel">
		<div class="carousel-inner container">
			@if (Model?.Products != null && Model.Products.Any())
			{
				int total = Model.Products.Count;
				int groups = (int)Math.Ceiling(total / 4.0);
				for (int groupIndex = 0; groupIndex < groups; groupIndex++)
				{
					<div class="  carousel-item @(groupIndex == 0 ? "active" : "")">
						<div class="row ms-3">
							@for (int productIndex = groupIndex * 4; productIndex < (groupIndex * 4 + 4) && productIndex < total; productIndex++)
							{
								var product = Model.Products[productIndex];
								<div class="col-md-3 p-1">
									<div class="card px-0 my-2 border-0" style="max-width: 250px">
										<img class="card-img-top  p-0" src="@product.Immagine" alt="@product.Nome" />
										<div class="card-body p-1">

											<div class=" text-start">
												<p class="card-title  fw-bold">@product.Nome</p>
											</div>
											<div class="text-start">
												<p class="card-text  "><strong> </strong> @product.Prezzo.ToString("C")</p>
											</div>


											<div class="d-flex justify-content-around">
												<div>
													<form method="post" class="text-start" asp-controller="Cart" asp-action="Aggiungi">
														<input type="hidden" name="prodottoId" value="@product.Id" />
														<button class="btn btn-add p-1 ps-0 mb-1 text-center" type="submit ">Aggiungi : </button>
														<input type="number" class="add-product border-0" name="quantita" value="1" min="1" id="quantita-@product.Id" />

													</form>
												</div>
												<div>
													<a href="@Url.Action("Details", "Product", new { id = product.Id })" class="btn btn-color py-1 ms-3">Dettagli</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							}
						</div>
					</div>
				}
			}
		</div>
		<button class="carousel-control-prev ms-5" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next me-5" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	<hr class="my-4" />

	<h2 class="mb-3">
		I NOSTRI PRODOTTI
	</h2>
	<div class="container">
		<div class="row ms-4 mt-3">
			@if (Model?.Products != null && Model.Products.Any())
			{
				@foreach (var product in Model.Products)
				{

					<div class="col-md-3 ">
						<div class="card my-2 border-0 " style="max-width: 230px">
							<img class="card-img-top p-0" src="@product.Immagine" />
							<div class="card-body p-1">
								<div class=" text-start">
									<p class="card-title  fw-bold">@product.Nome</p>
								</div>
								<div class="text-start">
									<p class="card-text  "><strong> </strong> @product.Prezzo.ToString("C")</p>
								</div>


								<div class="d-flex justify-content-around">
									<div>
										<form method="post" class="text-start" asp-controller="Cart" asp-action="Aggiungi">
											<input type="hidden" name="prodottoId" value="@product.Id" />
											<button class="btn btn-add p-1 ps-0 mb-1 text-center" type="submit ">Aggiungi : </button>
											<input type="number" class="add-product border-0" name="quantita" value="1" min="1" id="quantita-@product.Id" />

										</form>
									</div>
									<div>
										<a href="@Url.Action("Details", "Product", new { id = product.Id })" class="btn btn-color py-1 ms-3">Dettagli</a>
									</div>
								</div>

							</div>
						</div>
					</div>

				}
			}
			else
			{
				<p>Non ci sono prodotti</p>
			}
		</div>
	</div>


